<!DOCTYPE HTML>
<html>
    <header>
        <title>DevMatch - Profile</title>
    </header>
    <body>
        <div class="container text-center">
            <h1>Update your profile</h1>
        </div>
        <div class="container">
            <%= render 'form' %>
        </div>
    </body>
</html>