# User Memberships
* Show the user a link to the 'basic' plan on the home page.
    -  The link to the 'basic' plan should point the user to the regular Devise sign up form.
* Show the user a link to the 'pro' plan on the home page.
    - The link to the 'pro' plan should point the user to the custom sign up form with e-commerce incorporated.
    
# Stripe Integration
* The user should have a Stripe customer token in the users table.
* Javascript will prevent the form from submitting after it is filled to allow the card information to be sent to Stripe.
* Stripe will return a card token.
* Javascript will send the user fields and card token to the Rails application for validation.
* The Rails application will validate the user fields and note their plan ID.
* Upon validation, Rails will send the user's email, plan ID and card token to Stripe's servers and Stripe will create a subscription and return a customer token.
* Rails will save the customer token and user information to our database.

# User Profiles
* Each user should have one profile.
* Each user should see a link to a new profile form upon signing up.
* The user will be able to create and view their user profile.
* The user will be able to upload a profile picture.
* The user will be able to view all other user profiles.