<!DOCTYPE HTML>
<html>
    <header>
        <title>DevMatch - About</title>
    </header>
    <body class="about-color">
        <div class="">
            <h1>About DevMatch</h1>
        </div>
    </body>
</html>