<!DOCTYPE HTML>
<html>
    <header>
        <title>DevMatch</title>
    </header>
    <body>
        <div class="container-fluid jumbotron site-header text-center">
            <h1>Welcome to DevMatch.</h1>
            <h3>The meeting ground of developers and entrepeneurs.</h3>
        </div>
    </body>
</html>