<!DOCTYPE HTML>
<html>
    <header>
        <title>DevMatch</title>
    </header>
    <body>
        
        <div class="container-fluid jumbotron site-header text-center">
            <h1>Welcome to DevMatch.</h1>
            <h3>The meeting ground of developers and entrepeneurs.</h3>
        </div>
        
        <div class="container home-signup-links">
            <div class="row">
                <div class="col-md-6">
                    <div class="well">
                        <h2 class="text-center">Basic Membership</h2>
                        <h4>Gain basic access to the DevMatch community for free.</h4>
                        <br/>
                        <%= link_to "Sign up now", '#' , class: 'btn btn-primary btn-lg btn-block' %>
                    </div>
                </div>
                    
                <div class="col-md-6">
                    <div class="well">
                        <h2 class="text-center">Pro Membership</h2>
                        <h4>Gain full access to the DevMatch community for £10/month.</h4>
                        <br/>
                        <%= link_to "Sign up now", '#' , class: 'btn btn-info btn-lg btn-block' %>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
    </body>
</html>