<!DOCTYPE HTML>
<html>
    <head>
        
    </head>
    <body>
        <p>A form has been filled and submitted from DevMatch's contact-us page.
        The message is from <%= "#{ @name }, with the associated email #{ @email }." %> 
        The content of this message follows.</p>
        <p> <%= @body %> </p>
    </body>
</html>