.avatar-img {
  width: 120px;
  height: 120px;
}

.well.profile-blc {
  color: #fff;
  h3 {
    margin-top: 0;
  }
}

.well.profile-desc {
  background-color: #5CB85C;
  border-color: #4CAE4C;
  
}

.well.profile-cont {
  background-color: #5BC0DE;
  border-color: #46B8DA;
}