.avatar-img {
  width: 120px;
  height: 120px;
}

.job-title-icon {
  display: inline-block;
  width: 30px;
  height: 30px;
  border: 2px solid #2E6DA4;
  border-radius: 4px;
  background-color: #337AB7;
  color: white;
  text-align: center;
  
}

.well.profile-blc {
  color: #fff;
  h3 {
    margin-top: 0;
  }
}

.well.profile-desc {
  background-color: #5CB85C;
  border-color: #4CAE4C;
  
}

.well.profile-cont {
  background-color: #5BC0DE;
  border-color: #46B8DA;
}
